POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql://postgres:example@postgres-public.airflow.svc.cluster.local:5432/airflow?sslmode=prefer
AIRFLOW__CORE__FERNET_KEY=
