ACCESS_TOKEN_SALT=
JWT_SECRET_KEY=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=ghostfolio
DATABASE_URL=postgresql://postgres:example@postgres.ghostfolio.svc.cluster.local:5432/ghostfolio?sslmode=prefer
REDIS_HOST=redis.ghostfolio.svc.cluster.local
REDIS_PORT=6379
