cluster:
  hosts:
    nuc-00:
      ansible_host: 192.168.20.10
      k3s_control_node: true
      k3s_etcd_datastore: true
    nuc-01:
      ansible_host: 192.168.20.11
      k3s_control_node: true
      k3s_etcd_datastore: true
    nuc-02:
      ansible_host: 192.168.20.12
      k3s_control_node: true
      k3s_etcd_datastore: true
    storage-00:
      ansible_host: 192.168.20.13
      k3s_control_node: false
      k3s_etcd_datastore: false